{% extends 'BlogBundle::base.html.twig' %}

{% block head %}
    <h1>Post list</h1>
{% endblock %}
{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="col-md-3">
                <div class="item">
                    <h2><a href="{{ path('post_show', {'id':post.id}) }}">{{ post.title|title }}</a></h2>
                    <span class="small">{{ post.createAt|date('Y-m-d H:i:s') }}</span>
                    {% if post.category %}
                    <p>Category: <a href="{{ path('category_show',{'id':post.category.id}) }}" class="small">{{ post.category|title }}</a></p>

                    {% endif %}
                    <p>
                        <a href="{{ path('post_edit', {'id':post.id}) }}">Edit</a>
                        <a href="{{ path('post_delete', {'id':post.id}) }}">Delete</a>
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-12">
            <a class="btn btn-success" href="{{ path('post_new') }}">Create a new entry</a>
        </div>
    </div>
{% endblock %}