{% extends 'BlogBundle::base.html.twig' %}

{% block body %}
    <h1>Список товарів</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Createat</th>
            <th>Updateat</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr style="margin-bottom: 15px">
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>
                    {% if product.images|length > 0 %}
                        <img width="50px" src="{{ asset('upload/' ~ product.images[0]) }}" alt="{{ product.name|title }}">
                    {% else %}
                        <span class="text-danger">Немає зображення</span>
                    {% endif %}
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{% if product.createAt %}{{ product.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.updateAt %}{{ product.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('product_show', { 'id': product.id }) }}" class="btn-sm btn btn-default">show</a>
                    <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn-sm btn btn-default">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('product_new') }}" class="btn btn-default">Create a new entry</a>
        </div>
    </div>
{% endblock %}
