{% extends 'BlogBundle::base.html.twig' %}

{% block head %}
    <h1>Category show</h1>
{% endblock %}
{% block content %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ category.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ category.description }}</td>
        </tr>
        {% if category.parent %}
            <tr>
                <th>Parent</th>
                <td><a href="{{ path('category_show', {'id':category.parent.id }) }}">{{ category.parent }}</a></td>
            </tr>
        {% endif %}
        {% if category.children|length > 0 %}
            <tr>
                <th>Children</th>
                <td>
                    {% for cat in category.children %}
                        <a href="{{ path('category_show', {'id':cat.id}) }}">{{ cat.title }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Createat</th>
            <td>{% if category.createAt %}{{ category.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updateat</th>
            <td>{% if category.updateAt %}{{ category.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <a class="btn btn-default" href="{{ path('category_index') }}">Back to the list</a>
        <a class="btn btn-default" href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-default" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    </ul>
{% endblock %}
